input,
textarea,
button {
    font: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

form button {
    grid-column: 1 / -1;
}

form input,
form textarea {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

img {
    width: 50%;
    max-width: 100%;
    height: auto;
}

/* Website accent color */
:root {
    --color-accent: oklch(64.58% 0.31058 319.65 / 0.653);
    accent-color: var(--color-accent);
}

/* Navigation layout */
nav {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(89.7% 0.05134 199.431);
}

/* Navigation links */
nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

/* Current page */
nav a.current {
    border-bottom: 0.4em solid oklch(69.515% 0.13047 4.286);
    padding-bottom: 0.1em;
}

/* Link under the mouse */
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: oklch(94.442% 0.03101 340.365);
}